<div class="row">
  <div class="col s12 m6">
    <div class="card white lighten-4">
      <div class="card-content black-text">
        <span class="card-title">New Post</span>
        <textarea placeholder="What's on your mind?" class="materialize-textarea"></textarea>
      </div>
      <div class="card-action">
        <a href="#">Post</a>
        <a href="#">Clear</a>
      </div>
    </div>
  </div>
</div>
