<nav class="orangered" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <i class="fa fa-subway" aria-hidden="true"></i>
      metro
    </a>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>

    <ul class="right hide-on-med-and-down">
      <%= render "layouts/navbar_elements" %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <%= render "layouts/navbar_elements" %>
    </ul>
  </div>
</nav>
